.chat {
  display: flex;
  flex-direction: column;
  flex: 0.65;
}

.chat-header {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.chat-header-info {
  flex: 1;
  padding-left: 20px;
}

.chat-header-info h3 {
  margin-bottom: 3px;
  font-weight: 500;
}

.chat-header-info p {
  color: gray;
}

.chat-body {
  flex: 1;
  background-image: url("https://preview.redd.it/qwd83nc4xxf41.jpg?width=640&crop=smart&auto=webp&s=e82767fdf47158e80604f407ce4938e44afc6c25");
  background-repeat: repeat;
  background-position: center;
  padding: 30px;
  overflow-y: scroll;
}

.chat-message {
  position: relative;
  font-size: 16px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 30px;
}

.chat-sent {
  margin-left: auto;
  background-color: #dcf8c6;
}

.timestamp {
  margin-left: 10px;
  font-size: xx-small;
}

.chat-name {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: xx-small;
}

.chat-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  border-top: 1px solid lightgray;
}

.chat-input form {
  flex: 1;
  display: flex;
}

.chat-input form input {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
  outline: none;
}
